<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="test=test"/>
        <listEntry value="archetypeGroupId=com.google.appengine.archetypes"/>
        <listEntry value="archetypeArtifactId=skeleton-archetype"/>
        <listEntry value="archetypeVersion=2.0.0"/>
        <listEntry value="groupId=test"/>
        <listEntry value="artifactId=test"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=test.test"/>
        <listEntry value="outputDirectory=C:\Users\Miguel\Documents\workspace-spring-tool-suite-4-4.20.0.RELEASE"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Miguel\AppData\Local\Temp\m2e-archetypeGenerator13249608400792641384"/>
</launchConfiguration>
